<div class="row d-flex align-items-center">
  <div class="col-2">
    <div class="d-flex flex-column">
      <div class="btn text-center m-2" *ngFor="let d of data; let index=index" (click)="updateGraph(index)">{{ d.label }}</div>
    </div>
  </div>
  <div class="col-10">
    <div class="chart-wrapper">
      <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </div>
</div>


