<div *ngIf="product" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{product.designation}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Prix: {{product.designation}}</p>
    <p class="card-text">Quantité: {{product.quantity}}</p>
    <p class="card-text">Fournisseur: {{product.designation}}</p>
    <a href="#" class="card-link">Modifier</a>
    <a href="#" class="card-link">Supprimer</a>
  </div>
</div>
